{% extends 'base.html.twig' %}

{% block title %}Fiverr - Plateforme de services freelances pour entreprises{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('custom') }}
{% endblock %}


{% block body %}
  {% include "component/_header.hml.twig" %}
  <div class="main">
    <div class="fake-content">
      {% include "component/_rightcolumn.html.twig" %}
    </div>
  </div>
  {% include "component/_chat.html.twig" %}
{% endblock %}
