{% extends 'base.html.twig' %}

{% block title %}Fiverr - Plateforme de services freelances pour entreprises{% endblock %}

{% block body %}
  {% include "component/_header.hml.twig" %}
<div class="main">
  <div class="fake-content col-8"></div>
  {% include "component/_rightcolumn.html.twig" %}
</div>
{% endblock %}
