<header>
  <div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="navbar-img" src="{{ asset('build/images/Fiverr_Logo.png') }}" height="25" alt="fiverr brand logo">
        </a>
        <form class="d-flex">
            <input class="form-control rounded-0" type="search" placeholder="Trouver des services" aria-label="Search">
            <button class="btn btn-outline-success rounded-0" type="submit">Rechercher</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link green" href="#">Fiverr Pro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#">Essayer Fiverr Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link grey" href="#">Explorer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link grey" href="#">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link grey" href="#">Listes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link grey" href="#">Commandes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link grey" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="greyLine"></div>
  <div class="subNavbar">
    <a class="nav-link grey" href="#">Graphisme & Design</a>
    <a class="nav-link grey" href="#">Marketing digital</a>
    <a class="nav-link grey" href="#">Rédaction & Traduction</a>
    <a class="nav-link grey" href="#">Vidéo & Animation</a>
    <a class="nav-link grey" href="#">Musique & Vidéos</a>
    <a class="nav-link grey" href="#">Programmation & Tech</a>
    <a class="nav-link grey" href="#">Data <span class="new"> nouveau </span></a>
    <a class="nav-link grey" href="#">Business</a>
    <a class="nav-link grey" href="#">Loisirs</a>
  </div>
  <div class="greyLine"></div>
</header>